<div>
  <div>
    <h1>
      Bid #<%= @the_bid.id %> details
    </h1>

    <div>
      <div>
        <a href="/bids">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_bid/<%= @the_bid.id %>">
          Delete bid
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Bid amount
      </dt>
      <dd>
        <%= @the_bid.price %>
      </dd>

      <dt>
        Auctioner
      </dt>
      <dd>
        <%= @the_bid.auctioner_name %>
      </dd>

      <dt>
        Department
      </dt>
      <dd>
        <%= @the_bid.department.name %>
      </dd>

    
      <dt>
        Price
      </dt>
      <dd>
        <%= @the_bid.price %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_bid.description %>
      </dd>

      <dt>
        Deadline
      </dt>
      <dd>
        <%= @the_bid.deadline %>
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit bid
    </h2>

    <form action="/modify_bid/<%= @the_bid.id %>"  method="post" >
      <div>
        <label for="bid_amount_box">
          Bid amount
        </label>

        <input type="text" id="bid_amount_box" name="query_bid_amount" value="<%= @the_bid.price %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea rows = "5">
        <%= @the_bid.description %>
        </textarea>
      </div>

      <div>
        <label for="deadline_box">
          Deadline
        </label>

        <input type="date" id="deadline_box" name="query_deadline" value="<%= @the_bid.deadline %>">
      </div>

      <button>
        Update bid
      </button>
    </form>
  </div>
</div>

<hr>

<h2>Comments</h2>

<table>
  <tr>
    <th>
      Commenter
    </th>

    <th>
      Comment
    </th>

    <th>
      Posted
    </th>
  </tr>

  <% @the_bid.comments.order(created_at: :desc).each do |a_comment| %>

    <tr>
      <td>
        <%= a_comment.user.full_name %>
      </td>

      <td>
        <%= a_comment.body %>
      </td>

      <td>
        <%= a_comment.created_at %>
      </td>
    </tr>
  <% end %>
</table>

<h3>Add a new comment</h3>

<form action="/insert_comment" method="post">
  <label for="browser_comment">Comment</label>
  <textarea id="browser_comment" type=text placeholder="Enter a comment..." name="query_body"></textarea>
  
  <input type="hidden" id="bid_id_box" name="query_bid_id" value="<%= @the_bid.id %>">

  <button>Add comment</button>
</form>
