<div>
  <div>
    <h1>
      <%= @the_department.name %> Drops and Swaps
    </h1>

    <div>
      <div>
        <a href="/departments">
          Go back
        </a>
      </div>

    <dl>
      <dt>
        Posts count
      </dt>
      <dd>
        <%= @the_department.bids_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_department.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_department.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
  Add a new bid
</h2>


<form action="/insert_bid" method="post">

<div>
    <label for="auctioner">
      Name
    </label>

    <input type="text" id="auctioner" name="query_auctioner_name">
  </div>

<div>
    <label for="bid_amount_box">
      Bid Amount
    </label>

    <input type="text" id="bid_amount_box" name="query_price">
  </div>

  <div>
    <label for="body_box">
      Drop / Swap Description
    </label>

    <textarea id="body_box" name="query_description" rows="3"></textarea>
  </div>

  <div>
    <label for="expires_on_box">
      Auction Deadline
    </label>

    <input type="date" id="expires_on_box" name="query_deadline">
  </div>

  <input type="hidden" id="department_id_box" name="query_department_id" value="<%= @the_department.id %>">

  <button>
    Add post
  </button>
</form>


<hr>

<h2>Active drops and swaps</h2>

<table border="1">
  <tr>
    <th>Description</th>
    <th>Bid Amount</th>
    <th>Auctioner</th>
    <th>Deadline</th>
    <th>Link to Bid</th>
  </tr>

  <% @active_bids.each do |a_bid| %>
    <tr>
      <td><%= a_bid.price %></td>    
      <td><%= a_bid.description %></td>  
      <td><%= a_bid.auctioner.full_name %></td>
      <td><%= a_bid.deadline.strftime("%b %e, %Y") %></td>
      <td>
          <a href="/bids/<%= a_bid.id %>">
            Show details
          </a>
        </td>
    </tr>
  <% end %>
</table>

<h2>Expired posts</h2>

<table border="1">
    <tr>

    <th>Description</th>
    <th>Bid Amount</th>
    <th>Auctioner</th>
    <th>Deadline</th>
    <th>Link to Bid</th>
  </tr>

  <% @expired_bids.each do |a_bid| %>
    <tr>
  
      <td><%= a_bid.description %></td>
      <td><%= a_bid.price %></td>      
      <td><%= a_bid.auctioner.full_name %></td>
      <td><%= a_bid.deadline.strftime("%b %e, %Y") %></td>
      <td>
          <a href="/bids/<%= a_bid.id %>">
            Show details
          </a>
        </td>
    </tr>
  <% end %>
</table>
